body {
    background-color : beige;
    
    &.cm-expand {
        .cm-project {
            position : fixed;
            top : 0;
            left : 0;
            right : 0;
            bottom : 0;
            z-index : 10;
            background-color : white;
            margin : 0;
            width : 100vw;
            max-width : 100vw;
        }
    }
    
    &.waiting * {
        cursor: progress !important;
    }
}



footer {
    display : none;
}

i {
    &[active='active'] {
        background-color : slategrey;
    }
}

#cm-node-template {
    display : none;
}

#cm-ide {
    .cm-ide-direct {
        i {
            cursor : pointer;
        }
    }

    .cm-splitter {
        &:not([visible='visible']) {
            display : none;
        }
        
        cursor : col-resize;
    }

    .cm-ide-tree {
        &:not([visible='visible']) {
            display : none;
        }
        
        ul {
            
            li .cm-line {
                cursor : pointer;
                &:hover {
                    background-color : lightslategray;
                }
                &[active='active'] {
                    background-color : slategrey;
                }
            }
            
            li i {
                width : 1.2rem;
                text-align : center;
                
                &.cm-action-open,
                &.cm-action-close {
                    font-size : 120%;
                    cursor : pointer;
                }
            }
            
            li[data-status='0'] {
                > .cm-line > .cm-action-close { display : none; }
                > ul { display : none; }
            }
            
            li[data-status='1'] {
                > .cm-line > .cm-action-open { display : none; }
            }
            
        }
    }

}