html {
    font-size: 18px;
}

#cm-projects {
    .cm-project {
        width: 12rem;
        height: 10rem;
        //border: 1px solid black;
    }
}

#cm-project-template {
    &.cm-template {
        display: none;
    }
}


#cm-add-project {
    &:not(.cm-show) {
        display: none;
    }

    &.cm-show {
        //display: block;
        --tw-bg-opacity: 0.5;
    }

    input {
        width: 45rem;
        max-width: 80vw;

        &:required {
            background-image: linear-gradient(to right, rgba(255,255,240,1), rgba(255,255,240,1));
        }
        &:invalid:required {
            --tw-ring-color : rgba(255,0,0,0.2);
        }
    }

    .cm-panel {
        max-width: 95vw;
        max-height: 95vh;
    }

}

#cm-error {
    top : -1000;
    bottom : -1000;
    left : -1000;
    right : -1000;
    z-index : -1000;

    &.cm-show {
        top : 0;
        bottom : 0;
        left : 0;
        right : 0;
        z-index : 1000;
    }

    &.cm-opacity {
        & > div {
            opacity : 1;
        }
    }
}
