body {
    background-color : beige;
}

body.cm-expand {
    .cm-project {
        position : fixed;
        top : 0;
        left : 0;
        right : 0;
        bottom : 0;
        z-index : 10;
        background-color : white;
        margin : 0;
        width : 100vw;
        max-width : 100vw;
    }
}

footer {
    display : none;
}

.cm-project {
    .cm-project-direct {
        i {
            cursor : pointer;
        }
    }

    .cm-project-tree ul {
//        &:not(.cm-root) li {
//            padding-left: 1rem;
//        }

        li {

            .cm-line {
                cursor : pointer;

                &:hover {
                    background-color : lightslategray;
                }
            }

            &[data-status='0'] {
                > .cm-line > .cm-action-close {
                    display : none;
                }

                > ul {
                    display : none;
                }
            }

            &[data-status='1'] {
                > .cm-line > .cm-action-open {
                    display : none;
                }
            }

            i {
                width : 1.2rem;

                &.cm-action {
                    font-size : 120%;
                    cursor : pointer;
                }
            }

        }
    }

    &[active='active'] {
        .cm-project-direct .cm-action-tree {
            //background-color : rgba(75,85,99,0.5);
            background-color : slategrey;
        }
    }

    &:not([active='active']) {
        .cm-project-tree {
            display : none;
        }
    }
}