{% extends "common.twig" %}

{% block name %}{{ name }}{% endblock %}

{% block style %}
    <link rel="stylesheet/less" type="text/css" href="res/res/project.less"/>
{% endblock %}

{% block js %}
    <script type="module" src="res/res/project.js"></script>
{% endblock %}

{% block actions %}
    <button type="button" class="cm-save h-full flex px-2 py-2 cursor-pointer _hover:bg-gray-500 duration-75" title="{{ local.project.save }}" disabled1="disabled1">
        <i class="my-auto fas fa-save"></i>
    </button>
    <button type="button" class="cm-expand h-full flex px-2 py-2 cursor-pointer _hover:bg-gray-500 duration-75" title="{{ local.project.save }}" disabled1="disabled1">
        <i class="my-auto fas fa-expand"></i>
    </button>
{% endblock %}

{% block main %}
    <div class="cm-project bg-white container mx-auto flex h-full">
        <div class="w-11 flex flex-col bg-gray-600 text-white">
            <i class="fas fa-sitemap p-3 hover:bg-gray-400 duration-75" title="{{ local.project.tree }}"></i>
            <i class="fas fa-user-friends p-3 hover:bg-gray-400 duration-75"></i>
        </div>
        <div>qwqw2</div>
        <div>qwqw3/</div>
        <div>qwqw4</div>
    </div>
{% endblock %}
